<!DOCTYPE html>
<html lang="en">

<head>
    {{> title-meta title='Login' }}
</head>

<body class="bg-dark bg-gradient" data-layout-config='{"darkMode":true}'>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div id="noSession" class="alert alert-danger d-none" role="alert">
                        <strong>Please select login session</strong><a href="#" class="float-end mx-1 close-dialog">X</a>
                    </div>
                    <div id="loginfail" class="alert alert-danger d-none" role="alert">
                        <strong>Invalid Login credential </strong><a href="#" class="float-end mx-1 close-dialog" id="retry">X</a>
                    </div>
                    <div id="FPDialog" class="alert alert-success d-none" role="alert">
                        <p>Please contact <a href="mailto:info@ivmtech.com">info@ivmtech.com</a> to reset password</p><a href="#" class="float-end mx-1 close-dialog">X</a>
                    </div>
                    <div class="card">
                        <!-- Logo -->
                        <div class="card-header pt-4 pb-4 text-center bg-primary">
                            <span><img src="../assets/images/logo.png" alt="" height="18"></span>
                        </div>

                        <div class="card-body p-4 bg-dark text-light">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-center pb-0 fw-bold">Sign In</h4>
                                <p class="text-muted mb-4">Enter your email address and password to access admin panel.
                                </p>
                            </div>
                                <div class="mb-3">
                                    <select class="form-select" id="schema" label="schema" aria-label="schema" required>
                                        <option value="" selected>Please select your session</option>
                                        <option value="iVendingDB_IVM">iVendingDB_IVM</option>
                                        <option value="iVendingDB_Hosting">iVendingDB_Hosting</option>
                                        <option value="iVendingDB_NW">iVendingDB_NW</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="username" class="form-label">LoginID</label>
                                    <input class="form-control" id="username" required="">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Enter your password">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                    <a href="#" class="text-muted float-end" onClick="showFPDialog()" tabindex="-1"><small>Forgot your password?</small></a>
                                </div>

                                <div class="mb-3 mb-3 d-none">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                        <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="submit" id="submitBtn"> Log In </button>
                                </div>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer">
        <script>document.write(new Date().getFullYear())</script> © IVM Tech Limited
    </footer>
    <style>
        .close-dialog {
            position:absolute;
            top:0;
            right:0;
        }
        input, select {
            background-color:transparent !important;
        }
    </style>
    <script src="../assets/js/vendor.min.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script>
        showFPDialog = () => {
            document.querySelector('#FPDialog').classList.remove('d-none')
        }
        showNoSessionDialog = (show) => {
            const box = document.querySelector('#noSession');
            const selector = document.querySelector('#schema');
            if(show) {
                box.classList.remove('d-none');
                selector.classList.add('is-invalid');
                selector.parentElement.classList.add('was-validated');
            } else {
                box.classList.add('d-none');
                selector.classList.remove('is-invalid');
                selector.parentElement.classList.remove('was-validated');
            }
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            const submitBtn = document.querySelector('#submitBtn');
            const retry = document.querySelector('#retry');
            const closeBtns = [...document.querySelectorAll('.close-dialog')];
            closeBtns.every((el, index) => {
                const alertBox = el.parentNode;
                el.addEventListener('click', (event) => {
                    alertBox.classList.add('d-none');
                })
                return true;
            })
            submitBtn.addEventListener('click', (event) => {
                const schema = document.querySelector('#schema option:checked').value;
                if(schema === null || schema === '') {
                    showNoSessionDialog(true);
                    return false;
                }
                if(schema) {
                    showNoSessionDialog(false);
                }
                const reqBody = {
                    username: document.querySelector('#username').value,
                    password: document.querySelector('#password').value,
                    schema: document.querySelector('#schema option:checked').value,
                }
                try {
                    fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(reqBody)
                })
                 .then(response => {
                    if (response.status === 200 && response.redirected) {
                        window.location.href = response.url
                    } else {
                        document.querySelector('#loginfail').classList.remove('d-none')

                    }
                 })    
                } catch(err){
                    alert(err)
                }
                event.preventDefault();
            })

        });
    </script>
</body>

</html>