{{> page-title title=title }}

<div class="card">
    <div class="card-body">
      <!-- {{#if user.isSuperAdmin}}
            <a href="/owner">管理用戶</a>
            <a href="/machine">管理售賣機</a>
       {{else}}
            
       {{/if}} -->
       <h1>{{ title }}</h1>

    </div>
</div>

{{> scripts}}

<script>
  
</script>