<div class="row">
    <div class="col-12">
        {{> datafilter action="/salesreport/ms_detail" method="post" }}
    </div>
    <div class="card">
        <div class="card-body">
            <table id="result" class="table table-striped dt-responsive nowrap w-100">
                <thead>
                    <tr>
                           {{#each columnOp}}
                               <th id="{{ this.data }}">{{ this.title }}</th>
                            {{/each}}
                        </tr>
                </thead>
            </table>
        </div>
    </div>
</div>