<div class="card mt-2">
    <div class="card-title">
        <h3 class="p-2">用戶列表</h3>
        <form id="searchForm" action="#" method="post">
            <div class="row px-3 py-2">
                <div class="col-md-2 col-sm-12">
                    <label class="form-label" for="ownerId">
                        帳號名稱
                    </label>
                    <input class="form-control" type="text" name="ownerId" id="ownerId" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="form-label" for="ownerLogin">
                        登入名稱
                    </label>
                    <input class="form-control" type="text" name="ownerLogin" id="ownerLogin" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="form-label" for="ownerName">
                        客戶名稱
                    </label>
                    <input class="form-control" type="text" name="ownerName" id="ownerName" />
                </div>
                <div class="d-none">
                    <label class="form-check-label" for="isActive">
                        使用中
                    </label>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="isActive" name="isActive" {{#if activeOnly }} checked {{/if}}>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <label class="form-label" for="userRole">
                        類別
                    </label>
                    <select class="form-select" type="select" name="userRole" id="userRole">
                        <option disabled selected>請選擇</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                        <option value="Admin">Admin</option>
                        <option value="Client">Client</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 position-relative">
                    <div class="position-absolute mt-1" style="top: 35%">
                        <a href="#" class="btn btn-primary mx-2 px-3" id="searchBtn">搜尋</a>
                        <a href="#" class="btn btn-secondary px-3" id="clearFormBtn">重設</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="w-25 my-1">
            <a href="/owner/create" class="btn btn-success px-3" id="createUserBtn">新增</a>
        </div>
        <div class="table-responsive">
            <table class="table table-centered table-borderless table-hover w-100 dt-responsive nowrap" id="users">
                <thead class="table-dark">
                    <tr>
                        {{#each columnOp}}
                            <th id="{{ this.data }}">{{ this.title }}</th>
                        {{/each}}
                        <th id="control"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{{> scripts}}
{{> datatable-script }}
{{> confirmDeleteModal title="User" }}
<script>
    const searchBtn = document.querySelector('#searchBtn');
    const clearFormBtn = document.querySelector('#clearFormBtn');
    
    
    document.addEventListener('DOMContentLoaded', () => {
        const dtInstance = simpleDataTable('users', 
            '/owner/list', 
            'searchForm', 
            [
                {
                    render: function (data, type, row) {
                        if(!data){
                            return `<span><i class="fa-regular fa-circle-xmark"></i></span>`;
                        } else {
                            return `<span><i class="fa-regular fa-circle-check"></i></span>`;
                        }
                    },
                    targets: [-4]
                },
                {
                    data: null,
                    render: function(data, type, row) {
                         const btn = `<td><a href="/owner/profile?ownerId=${row.id}" class="pe-3 action-icon"> <i class="fa fa-eye"></i></a>` + 
                            `<a href="javascript:void(0);" class="action-icon" data-bs-attrid="${row.id}" data-bs-action="delete-user" data-bs-title="Delete User" data-bs-toggle="modal" data-bs-target="#confirmModal"> <i class="mdi mdi-delete"></i></a></td></tr>`;
                        return btn;
                    },
                    targets: [-1]
                },
                { 
                    orderable: false, 
                    targets: [-4, -1]
                }
            ])
        if(searchBtn) {
            searchBtn.addEventListener('click', (event) => {
                dtInstance.ajax.reload();
                event.preventDefault();
            })
        }
        if(clearFormBtn) {
            clearFormBtn.addEventListener('click', (event) => {
                const controls = [...document.querySelectorAll('#searchForm input'), document.querySelector('#userRole')];
                controls.every((el, i) => {
                    const type = el.getAttribute('type');
                    switch (type) {
                        case 'checkbox':
                            el.removeAttribute('checked');
                            break;
                        case 'select':
                            document.querySelector('option:disabled').selected = true;
                            break;
                        default: 
                        el.value = '';
                    }
                    
                    return el;
                })
                event.preventDefault();
            })
        }
    });
    
</script>