<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="IVM WebPortal" name="description" />
  <title>IVM Web Portal</title>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <script src="../../assets/js/vendor/font-awesome.min.js"></script>
  <!-- App css -->
  <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>

  <link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <style>
  .no-validate:valid {
    border: 1px solid var(--ct-input-border-color)!important;
    background: transparent!important;
  }
  label.no-validate {
    color: var(--ct-body-color)!important;
  }
  textarea {
    resize: none;
  }
  .wrap-content {
      word-break: break-all;
  }
  label.required::after {
    content: '*';
    display: inline-block;
    color: red;
    margin-left: 0.1em;
  }

  #activateControls {
    display: flex;
    justify-content: flex-end;
  }
  #deactivateControls {
    display: flex;
    justify-content: flex-end;
  }
</style>
</head>

<body class="show" data-layout-color="dark" data-layout-mode="fluid" data-rightbar-onstart="true" data-leftbar-theme="dark">
  <div class="wrapper">

    {{> left-sidebar}}

    <div class="content-page">
      <div class="content">
        {{> topbar}}
        <div class="container-fluid">
          {{{ body }}}
        </div>
      </div>
      {{> footer}}
    </div>
  </div>
</body>
</html>


<script>
onresize = (event) => {
  if(window.innerWidth > 1000 || window.innerWidth <=768) {
    document.body.removeAttribute('data-leftbar-compact-mode');
  } 
};
</script>