

<div class="tab-pane fade machinetps" id="ads-mgt" role="tabpanel" aria-labelledby="tab-8">
    <div class="card">
        <div class="card-body">
            <div class="d-flex my-2">
                <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#adsupload" style="width: 100px" data-bs-entity="machine-ads"><i class="fas fa-file-import me-1"></i>上傳</button>
            </div>
            <div class="table-responsive">
                <table id="ads-fake" class="table table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>檔案名稱</th>
                            <th>格式</th>
                            <th>位置</th>
                            <th>次序</th>
                            <th>生效日期 (由)</th>
                            <th>生效日期 (至)</th>
                            <th>上傳日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>cptest.jpg</td>
                            <td>image</td>
                            <td>topAd</td>
                            <td>1</td>
                            <td>2023-01-01 12:00:00</td>
                            <td>2023-12-31 23:59:59</td>
                            <td>2022-12-31 17:55:00</td>
                        </tr>
                        <tr>
                            <td>2.mp4</td>
                            <td>video</td>
                            <td>topAd</td>
                            <td>2</td>
                            <td>2023-01-01 12:00:00</td>
                            <td>2023-12-31 23:59:59</td>
                            <td>2022-12-31 17:55:00</td>
                        </tr>
                        <tr>
                            <td>default_banner.png</td>
                            <td>image</td>
                            <td>topAd</td>
                            <td>3</td>
                            <td>2023-01-01 12:00:00</td>
                            <td>2023-12-31 23:59:59</td>
                            <td>2022-12-31 17:55:00</td>
                        </tr>
                        <tr>
                            <td>uploadstandby.png</td>
                            <td>image</td>
                            <td>standBy</td>
                            <td>1</td>
                            <td>2023-01-01 12:00:00</td>
                            <td>2023-12-31 23:59:59</td>
                            <td>2022-12-31 17:55:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
