<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="#" class="logo text-center">
        <span class="logo-lg">
            <img src="../../assets/images/logo-light.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="../../assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">
            {{#if user.isSuperAdmin }}
            <li class="side-nav-item d-none">
                <a data-bs-toggle="collapse" href="#sidebarMaster" aria-expanded="false" aria-controls="sidebarMaster"
                    class="side-nav-link">
                    <i class="dripicons-checklist"></i>
                    <span>產品總表</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarMaster">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="#">SKU</a>
                        </li>
                        <li>
                            <a href="#">產品</a>
                        </li>
                        <li>
                            <a href="#">產品組合</a>
                        </li>
                        <li>
                            <a href="#">Payment</a>
                        </li>
                    </ul>
                </div>
            </li>
            {{/if}}
            {{#if user.permissionsMap.machine.Active }}
            <li class="side-nav-item">
                <a href="/machine" aria-expanded="false" class="side-nav-link">
                    <i class="fas fa-cash-register"></i>
                    <span>售賣機</span>
                </a>
            </li>
            {{/if}}
            {{#if user.permissionsMap.machinevoucher.Active }}
            <li class="side-nav-item">
                <a href="/voucher" aria-expanded="false" class="side-nav-link">
                    <i class="fas fa-gift"></i>
                    <span>Redemption</span>
                </a>
            </li>
            {{/if}}
            {{#ifCond user.permissionsMap.MachineInventorySummary.Active '||' user.permissionsMap.MachineInventoryDetail.Active }}
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#inventorymenu" aria-expanded="false" aria-controls="inventorymenu"
                        class="side-nav-link">
                        <i class="fas fa-warehouse"></i>
                        <span>庫存表</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="inventorymenu">
                        <ul class="side-nav-second-level">
                            {{#if user.permissionsMap.MachineInventorySummary.Active }}
                            <li>
                                <a href="/inventory/iv_summary"><i class="fas fa-list me-2"></i>售賣機庫存總表</a>
                            </li>
                            {{/if}}
                            {{#if user.permissionsMap.MachineInventoryDetail.Active }}
                            <li>
                                <a href="/inventory/iv_detail"><i class="fa-regular fa-file-lines me-2"></i>售賣機庫存詳情</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </li>
            {{/ifCond}}
            
            {{#ifCond user.permissionsMap.MachineSalesSummary.Active '||' user.permissionsMap.MachineSalesDetail.Active }}
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#salesreportmenu" aria-expanded="false"
                    aria-controls="salesreportmenu" class="side-nav-link">
                    <i class="dripicons-document"></i>
                    <span>銷售報表</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="salesreportmenu">
                    <ul class="side-nav-second-level">
                        {{#if user.permissionsMap.MachineSalesSummary.Active }}
                        <li>
                            <a href="/salesreport/ms_summary"><i class="fas fa-list me-2"></i>售賣機銷售總表</a>
                        </li>
                        {{/if}}
                        {{#if user.permissionsMap.MachineSalesDetail.Active }}
                        <li>
                            <a href="/salesreport/ms_detail"><i class="fa-regular fa-file-lines me-2"></i>售賣機銷售詳情</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </li>
            {{/ifCond}}
            {{#if user.isSuperAdmin }}
            <li class="side-nav-item" style="display: none">
                <a data-bs-toggle="collapse" href="#sidebarOctopus" aria-expanded="false" aria-controls="sidebarOctopus" class="side-nav-link">
                    <i class="dripicons-card"></i>
                    <span>Octopus</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarOctopus">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="#">Octopus Device</a>
                        </li>
                        <li>
                            <a href="#">Octopus Upload</a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li class="side-nav-item d-none">
                <a href="#" class="side-nav-link">
                    <i class="dripicons-device-desktop"></i>
                    <span>遠端控制</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#settingMenu" aria-expanded="false" aria-controls="settingMenu" class="side-nav-link">
                    <i class="fa-solid fa-wrench"></i>
                    <span>設定</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="settingMenu">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/owner"><i class="fas fa-list me-2"></i>帳號管理</a>
                        </li>
                    </ul>
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>

<!-- Left Sidebar End -->