<meta charset="utf-8" />
<title>{{ title }} | IVM Admin Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Admin portal for vending machine management" name="description" />
<meta content="IVM Admin" name="author" />
<!-- App favicon -->
<link href="../dist/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/319d9baf2e.js" crossorigin="anonymous"></script>