<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topbar-menu float-end mb-0">
    
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="account-user-avatar"> 
                        <img src="../../assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    </span>
                    <span class="account-user-name"> {{#if user }}{{ user.ON_OwnerID }}{{else}}Anonymous{{/if}}</span>
                    {{#if user }}<span class="account-position">{{ user.userRole }}</span>{{/if}}
                </a>
                {{#if user }}
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>
    
                    <!-- item-->
                    <a href="/owner/profile?ownerId={{ user.ON_OwnerID }}" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
                {{/if}}
            </li>
        </ul>
    </div>
</div>
<!-- end Topbar -->
